<app-topbar></app-topbar>
<main>
    <div class="container_ball">
        <img class="inovation" src="images/inovation.png" alt="test image" id="inovation" />
    </div>
    <div class="container_image">
        <img class="girl_image" src="images/girl.jpg" alt="test girl image" />
    </div>
    <div class="open_account">
        <a class="text_image_account">Open your account here, and get your card</a>
        <input class="email" inputmode="email" name="email" id="email" placeholder="Email" />
        <button class="send" name="button_send" id="button_send"> Create </button>
    </div>
</main>
