<app-topbar></app-topbar>
<main>
    <div class="container">
        <div class="text-overlay">
            <a class="title">About</a>
            <a class="main-text"> 
                With a strong foundation in Systems Development, we combine expertise in backend 
                programming and design to create a digital bank that prioritizes functionality and user experience.
                <br><br>
                Our mission is to make financial services more <strong>accessible</strong>, <strong>intuitive</strong>, and <strong>innovative</strong>, 
                <strong>empowering users</strong> to take control of their finances seamlessly.
            </a>
            <a class="pre-final-text">
                Welcome to your digital bank, 
                where <strong>technology</strong> meets <strong>simplicity</strong>.
            </a>
            <a class="final-text">
                Welcome to Ivibank!
            </a>
        </div>
        <div>
            <img class="image" src="images/Isa_e_Vitor.png" />
        </div>
    </div>
</main>



