<header>
    <img class="logo" src="images/ivibank_logo.png" alt="test image" id="logo" />
    <nav>
        <ul class="links">
            <li id="main" name="main"> Main </li>
            <li id="account" name="account"> Account </li>
            <li id="finance" name="finance"> Finance </li>
            <li id="contactus" name="contactus"> Contact us </li>
            <li id="button" name="button">
                <button>
                    <img class="iconmenu" src="images/icon_menu.png" alt="test icon menu" id="iconmenu"/>
                </button>
            </li>
        </ul>
    </nav>
</header>